<template>
<div class='tableContainer'>
  <div class="table__content">
    <div class="table__panel">
      <input class='panel_search' type="text" v-model="searchField" placeholder="Поиск">
      <button class="panel__button" @click="addUser">Добавить</button>
      <button class="panel__button" @click="editUser">Редактировать</button>
      <button class="panel__button" @click="removeUser">Удалить</button>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class='content__header'
              v-for="(value, key) in userFields"
              :key="key"
              @mousedown="sortTable(key)">
            {{value}}
            <div class='content__column-size'
            @mousedown.stop="handleMouseDown">
              &nbsp;
            </div>
            </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(user) in filteredList" :key="user.id"
            @click='selectUser($event, user)'
            :class='{active: selectedUser === user}'>
              <td class="content__photo">
                <img :src="user.photo" alt="user.name">
              </td>
              <td class="content__firstName">{{user.firstName}}</td>
              <td class="content__lastName">{{user.lastName}}</td>
              <td class="content__birthday">{{new Date(user.birthday).toLocaleDateString('ru-RU')}}</td>
              <td class="content__age">{{user.age}}</td>
              <td class="content__position">{{user.position}}</td>
              <td class="content__remote">
                <input type="checkbox" :checked="user.remoteWork" disabled>
              <td>{{user.fullAddress}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <user-dialog v-if='showDialog'
              :inputUser='selectedUser'
              @save='saveChanges'
              @cancel='showDialog = false'>
  </user-dialog>
</div>
</template>

<script>
 import UserDialog from '@/components/UserDialog';

  export default {
    name: 'TableUsers',
    columnTable: null,
    startColumnOffset: 0,
    components: {
      UserDialog
    },
    mounted() {
      document.addEventListener('mousemove', this.handleMouseMove);
      document.addEventListener('mouseup', this.handleMouseUp);
    },
    beforeDestroy() {
      document.removeEventListener('mousemove', this.handleMouseMove);
      document.removeEventListener('mouseup', this.handleMouseUp);
    },
    data() {
      return {
        showDialog: false,
        selectedUser: null,
        isActiveField: false,
        searchField: '',
        userFields: {
          photo: 'Превью',
          firstName: 'Имя',
          lastName: 'Фамилия',
          birthday: 'Дата рождения',
          age: 'Возраст',
          position: 'Должность',
          remoteWork: 'Удаленная работа',
          fullAddress: 'Адрес проживания'
        },
        users: [
          {
            id: 0,
            photo: '/static/img/avatar.jpg',
            firstName: 'Алексей',
            lastName: 'Алексеев',
            birthday: '1993-01-02',
            age: 25,
            position: 'Оператор',
            remoteWork: false,
            city: 'Спб',
            street: 'Невский пр',
            house: 2,
            apartment: 27,
            fullAddress: 'Спб Невский пр. 2 кв. 27'
          },
          {
            id: 1,
            photo: '/static/img/avatar.jpg',
            firstName: 'Роман',
            lastName: 'Романов',
            birthday: '1995-01-01',
            age: 23,
            position: 'Программист',
            remoteWork: true,
            city: 'Мск',
            street: 'Ленина пл.',
            house: 3,
            apartment: 10,
            fullAddress: 'Мск Ленина пл. 3 кв. 10'
          },
          {
            id: 2,
            photo: '/static/img/avatar.jpg',
            firstName: 'Юджин',
            lastName: 'Яковлев',
            birthday: '1995-02-02',
            age: 23,
            position: 'UX',
            remoteWork: true,
            city: 'Мск',
            street: 'Мира ул.',
            house: '',
            apartment: '',
            fullAddress: 'Мск Мира ул.'
          },
        ]
      }
    },
    computed: {
      filteredList() {
        const filterString = this.searchField.toLowerCase();
        return this.users.filter(item => {
            return item.firstName.toLowerCase().includes(filterString)
                    || item.lastName.toLowerCase().includes(filterString)
                    || item.position.toLowerCase().includes(filterString)
                    || item.fullAddress.toLowerCase().includes(filterString);
          });
      }
    },
    methods: {
      updateUser(updatedUser) {
        console.log('...actions for update on server...');
        let user = this.users.find(item => item.id === updatedUser.id);
        user = Object.assign(user, updatedUser);
      },
      addNewUser(user) {
        console.log('...actions for add user on server...');
        user.id = this.users.length; // In reality we send user without id, id will defined on server
        this.users.push(user);
      },
      saveChanges(user) {
        this.showDialog = false;
        if (user.id == null) this.addNewUser(user);
        else this.updateUser(user);
      },
      sortTable(sortKey) {
        const sorted = this.users.sort((a, b) => a[sortKey] > b[sortKey]);
      },
      handleMouseMove(e) {
        if (!this.columnTable) return;
        this.columnTable.style.width = this.startColumnOffset + e.pageX + 'px';
      },
      handleMouseUp() {
        this.columnTable = null;
        this.startColumnOffset = null;
      },
      handleMouseDown(e) {
        const th = e.target.closest('.content__header');
        this.columnTable = th;
        this.startColumnOffset = th.offsetWidth - e.pageX;
      },
      addUser() {
        this.selectedUser = null;
        this.showDialog = true;
      },
      editUser() {
        if (!this.selectedUser) return;
        this.showDialog = true;
      },
      removeUser() {
        if (this.selectedUser === null) return;
        const index = this.users.indexOf(this.selectedUser);
        this.users.splice(index, 1);
        this.selectedUser = null;
      },
      selectUser(e, selected) {
        this.selectedUser = selected;
      }
    }
  }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}
.table {
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
}
.table tr {
  border: none;

}
.content__header {
  user-select: none;
  position: relative;
  background-color: rgb(135, 255, 135);
  color: rgb(0, 97, 0);
  padding: 10px;
}
.table td {
  padding: 5px;
}
.table td,
.content__header {
  border-left: 1px solid lime;
  border-right: 1px solid lime;
}
.table td:last-child,
.content__header:last-child {
  border-right: none;
}
.table td:first-child,
.content__header:first-child {
  border-left: none;
}
.table__panel {
  padding: 20px 0px;
  display: flex;
}
.panel__button {
  padding: 5px 5px;
  font-size: 15px;
  background-color: white;
  color: rgb(0, 163, 0);
  border: 1px solid;
  outline: none;
  margin-left: 20px;
}
.panel__button:hover {
  background-color: rgba(144, 238, 144, 0.5);
}

.panel__button:active {
  background-color: rgba(144, 238, 144, 1);
}

.panel_search {
  outline: none;
  font-size: 18px;
  padding: 0px 10px;
}

.content__photo > img {
  max-width: 50px;
  max-height: 50px;
}

.active {
  background-color: rgba(172, 255, 47, 0.8);
}

.content__column-size {
  display: block;
  position: absolute;
  width: 10px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  cursor: col-resize;
}
</style>
