<template>
    <div class="dialogContainer">
        <div class="dialog">
            <h1 class="title">Добавление и редактирование</h1>
            <div class="dialog__input">
                <div class="input__photo-panel">
                    <img class='input__image' ref='img' alt="photo" :src="user.photo">
                    <input ref="photo" type="file" @change="loadPhoto" accept="image/jpeg,image/png">
                </div>
                <form class='input__form' @submit.stop.prevent="buildUser">
                    <ul class="input__list">
                        <li><input ref="firstName" type="text" v-model="user.firstName" placeholder="Имя" required></li>
                        <li><input ref="lastName" type="text" v-model="user.lastName" placeholder="Фамилия" required></li>
                        <li><label><input ref="birthday" type="date" v-model="user.birthday" required>&#x1f4c5;</label></li>
                        <li><select class='input__position' v-model='user.position' required>
                            <option value="" disabled selected hidden>Должность</option>
                            <option value="Программист">Программист</option>
                            <option value="UX">UX</option>
                            <option value="Оператор">Оператор</option>
                        </select></li><br>
                        <li><input ref="city" type="text" v-model="user.city" placeholder="Город" required></li>
                        <li><input ref="street" type="text" v-model="user.street" placeholder="Улица" required></li>
                        <li><input ref="house" type="text" v-model.number="user.house" placeholder="Дом"></li>
                        <li><input ref="apartment" type="text" v-model.number="user.apartment" placeholder="Квартира"></li>
                        <li><label class="label__remote"><input ref="remote" type="checkbox" v-model="user.remoteWork"> Удаленка</label></li>
                    </ul>
                    <input class="input__button" type="submit" value="Сохранить">
                    <button class="input__button" @click='$emit("cancel")'>Отмена</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        beforeMount() {
            if (this.inputUser !== null) {
                this.user = {...JSON.parse(JSON.stringify(this.inputUser))};
            };
        },
        name: 'UserDialog',
        props: {
            inputUser: {
                type: Object,
                default: null,
            }
        },
        data() {
            return {
                user: {
                    id: null,
                    photo: '/static/img/avatar.jpg',
                    firstName: '',
                    lastName: '',
                    birthday: '',
                    age: '',
                    position: '',
                    remoteWork: false,
                    city: '',
                    street: '',
                    house: '',
                    apartment: '',
                    fullAddress: '',
                },
            }
        },
        methods: {
            buildUser() {
                this.user.photo = this.getPhoto();
                this.user.age = this.getAge();
                this.user.fullAddress = this.getFullAddress();
                const user = {...JSON.parse(JSON.stringify(this.user))};
                this.$emit("save", user);
            },
            loadPhoto() {
                self = this;
                const photo = this.$refs.photo.files[0];
                console.log(photo);
                if (photo === null) return;
                const reader = new FileReader();
                reader.readAsDataURL(photo);
                reader.onload = () => {
                    self.$refs.img.src = reader.result;
                }
                reader.onerror = function() {
                    console.log('error during load image');
                }

            },
            getPhoto() {
                return this.$refs.img.src;
            },
            getAge() {
                const birthday = this.$refs.birthday.value;
                const age = (new Date().getTime() - new Date(birthday)) / (24 * 3600 * 365.25 * 1000) | 0;
                return age > 0 ? age : 0;
            },
            getFullAddress() {
                const city = this.$refs.city.value;
                const street = this.$refs.street.value;
                const house = this.$refs.house.value;
                const apartment = this.$refs.apartment.value ? `кв. ${this.$refs.apartment.value}` : '';
                return `${city} ${street} ${house} ${apartment}`;
            }

        }
    }
</script>

<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}
.dialogContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.dialog__input {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;

}
.title {
    display: block;
    padding: 0;
    margin: 0;
    padding-bottom: 30px;
    color: green;
    font-size: 30px;
}
.dialog {
    padding: 30px;
    min-width: 500px;
    background-color: white;
    box-shadow: 0px 1px 5px 0px black;
}
.input__photo-panel {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.input__image {
    padding-bottom: 10px;
    align-self: flex-start;
    max-width: 150px;
    max-height: 150px;
}
.input__list {
    margin: 0 0 30px 0;
    padding: 0;
    column-count: 2;
    list-style: none;
    max-height: 160px;
}
.input__list > li {
    margin: 5px;
}
.input__list > li > input {
    padding: 5px;
}
.input__position {
    outline: none;
    padding: 5px;
    font-size: 14px;
}
.label__remote {
    user-select: none;
    font-size: 12px;
}
.input__button {
  padding: 5px 5px;
  font-size: 15px;
  background-color: white;
  color: rgb(0, 163, 0);
  border: 1px solid;
  outline: none;
  margin-left: 20px;
  max-width: 150px;
}
.input__button:hover {
  background-color: rgba(144, 238, 144, 0.5);
}

.input__button:active {
  background-color: rgba(144, 238, 144, 1);
}
</style>
