<template>
  <div id="app">
    <table-users></table-users>
  </div>
</template>

<script>
import TableUsers from '@/components/TableUsers'

export default {
  name: 'App',
  components: {
    TableUsers
  }
}
</script>

<style>
#app {

}
</style>
